body{
  padding: 40px 100px;
}
.navbar{
  margin-bottom: 100px;
}
.new{
  color: white;
  padding: 2px 8px;;
  background-color: black;
  border-radius: 45%;
  font-family: 'Open Sans Condensed', sans-serif;
}
p{
  color: grey;
}
.powerful{
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  font-size: 60px;
  padding-bottom: 20px;
}
h6{
  color: grey;
  padding-bottom: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
}
button{
  color: white;
  background-color: #f64b3c;
  border: 5px solid #f64b3c;
  padding: 3px 8px;
  border-radius: 50%;
}
